<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク作成</title>
    <style type="text/css">
        form {margin: 0 auto;}
        .A, .B, .C {margin: 5px;}
    </style>
</head>
<body>
<form  th:method="post" th:action="@{./}" th:object="${taskCreateForm}">
    <div class="A">
        <label>
            題名：<input type="text" th:field="*{content}"/>
        </label>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}">エラーメッセージ</p>
    </div>
    <div class="B">
        <label>
            <textarea cols="80" rows="30" th:field="*{text1}">本文</textarea>
        </label>
        <p th:if="${#fields.hasErrors('text1')}" th:errors="*{text1}">エラーメッセージ</p>
    </div>
    <div class="C">
        <input type="submit" value="作成"/>
    </div>
</form>
</body>
</html>